html, body {
    background-color:lightblue;
    background-image:linear-gradient(aqua, green);
    height:120%;
    margin:0;
    text-align:center;
    

}

h1, h4 {
    text-align:center;

}

h1 {
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 60px;
}

h4 {
    margin-bottom: 40px;
}

#know-me {
    width: fit-content;
    margin-top:40px;
    
}
#github {
    font-size: 38px;
    margin-top:15px;
}

#linkedin {
    font-size:38px;
    margin-top:15px;
}

#resume {
    font-size:38px;
    margin-top:15px;
}

#email {
    font-size:38px;
    margin-top:15px;
}

#row2 {
    align-items:center;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    
}

#brand-statement {
    margin-left:25px;
    margin-right:25px;
    margin-top:70px;
    text-align:center;
    line-height: 2;
}

/* Center the rows */
#row5 {
    display: flex;
    justify-content: center;
}

/* Adjust margins for each Proficiencies */
#Proficiencies,
#Proficiencies2,
#Proficiencies3,
#Proficiencies4 {
    margin-top: 40px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin-bottom: 40px;
}

.blue-dot {
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    z-index: 1; /* Ensure the dot is above the proficiency blocks */
    left: 50%;
    transform: translateX(-50%);
}

/* Position the blue dots vertically between proficiency blocks */
#Proficiencies2 .blue-dot {
    top: calc(100% + 20px); /* Distance below Proficiencies2 */
}

#Proficiencies3 .blue-dot {
    top: calc(100% + 20px); /* Distance below Proficiencies3 */
}

#Proficiencies4 .blue-dot {
    top: calc(100% + 20px); /* Distance below Proficiencies4 */
}
